[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-jazzmin = "*"
django-ratelimit = "*"
python-decouple = "*"
django-axes = "*"
django-unfold = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.14"
